name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - v[0-9]+.*

jobs:
  publish:
    name: Publish to crates.io
    runs-on: github-hosted-large
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          cache-workspaces: "code"
      - name: Publish crates
        uses: step-security/publish-crates@354be9c74404760ffbfcae1bd39a4f05c19b6578 # v2.0.0
        with:
          registry-token: ${{ secrets.CRATES_TOKEN }}
          path: code
