name: Rust

on:
  merge_group:
  pull_request:
  push:
    branches: main

env:
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  CARGO_PROFILE_DEV_DEBUG: 1
  CARGO_PROFILE_RELEASE_DEBUG: 1
  RUST_BACKTRACE: short
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10

jobs:
  changes:
    name: Detect changes
    runs-on: github-hosted-small
    permissions:
      pull-requests: read
    outputs:
      code: ${{ steps.filter.outputs.code }}
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: step-security/paths-filter@6eee183b0d2fd101d3f8ee2935c127bca14c5625 # v3.0.5
        id: filter
        with:
          filters: |
            code:
              - 'code/**'

  test:
    name: Unit Tests
    runs-on: github-hosted-small
    defaults:
      run:
        working-directory: code
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      # - name: Setup Node
      #   uses: actions/setup-node@v3
      #   with:
      #     node-version: "18"
      # - name: Install Quint
      #   run: npm install -g @informalsystems/quint
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          cache-workspaces: "code"
      - name: Install cargo-nextest
        uses: taiki-e/install-action@554bdce7edf79d43854a6b7c1e392e7da7eb97a9 # cargo-nextest
      - name: Run tests
        run: |
          cargo nextest run \
            --workspace \
            --all-features \
            --no-fail-fast \
            --failure-output final \
            --exclude arc-malachitebft-test \
            --exclude arc-malachitebft-test-mbt \
            --exclude arc-malachitebft-starknet-test \
            --exclude arc-malachitebft-starknet-test-mbt \
            --exclude arc-malachitebft-discovery-test

  integration:
    name: Integration Tests
    runs-on: github-hosted-large
    defaults:
      run:
        working-directory: code
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      # - name: Setup Node
      #   uses: actions/setup-node@v3
      #   with:
      #     node-version: "18"
      # - name: Install Quint
      #   run: npm install -g @informalsystems/quint
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          cache-workspaces: "code"
      - name: Install cargo-maelstrom
        uses: taiki-e/install-action@cfdb446e391c69574ebc316dfb7d7849ec12b940 # v2.68.8
        with:
          tool: cargo-maelstrom
      - name: Disable apparmor container restrictions
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - name: Run integration tests (discovery)
        if: always()
        run: |
          cargo maelstrom --slots 8 \
            --include 'package.equals(arc-malachitebft-discovery-test)'
      - name: Run integration tests (Starknet app)
        if: always()
        run: |
          cargo maelstrom --slots 8 \
            --include 'package.equals(arc-malachitebft-starknet-test)' \
            --exclude 'package.match(arc-malachitebft-starknet-test-mbt)'
      - name: Run integration tests (Test app)
        if: always()
        run: |
          cargo maelstrom --slots 8 \
            --include 'package.equals(arc-malachitebft-test)' \
            --exclude 'package.equals(arc-malachitebft-test-mbt)'

  no_std:
    name: no_std compatibility
    needs: changes
    if: ${{ needs.changes.outputs.code == 'true' || github.ref == 'refs/heads/main' }}
    runs-on: github-hosted-small
    defaults:
      run:
        working-directory: code
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          cache-workspaces: "code"
          target: thumbv7m-none-eabi
      - name: Check no_std compatibility
        run: cargo build --target thumbv7m-none-eabi -p arc-malachitebft-peer

  clippy:
    name: Clippy
    runs-on: github-hosted-small
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: clippy
          cache-workspaces: "code"
      - name: Run clippy
        uses: actions-rs/clippy@9e02862195d5c88dabdda3c1e7fa53a45ed35ec1 # master
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          args: --all-features --all-targets --manifest-path code/Cargo.toml

  fmt:
    name: Formatting
    runs-on: github-hosted-small
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          components: rustfmt
          cache-workspaces: "code"
      - name: Check formatting
        uses: actions-rust-lang/rustfmt@4066006ec54a31931b9b1fddfd38f2fdf2d27143 # v1.1.2
        with:
          manifest-path: code/Cargo.toml

  msrv:
    name: MSRV
    needs: changes
    if: ${{ needs.changes.outputs.code == 'true' || github.ref == 'refs/heads/main' }}
    runs-on: github-hosted-small
    defaults:
      run:
        working-directory: code
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: stable
          cache-workspaces: "code"
      - name: Install cargo-msrv
        uses: taiki-e/install-action@cfdb446e391c69574ebc316dfb7d7849ec12b940 # v2.68.8
        with:
          tool: cargo-msrv
      - name: Check MSRV
        run: cargo msrv verify --manifest-path crates/engine/Cargo.toml --output-format minimal -- cargo check --all-features

  standalone:
    name: Standalone
    needs: changes
    if: ${{ needs.changes.outputs.code == 'true' || github.ref == 'refs/heads/main' }}
    runs-on: github-hosted-small
    defaults:
      run:
        working-directory: code
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain: stable
          cache-workspaces: "code"
      - name: Install cargo-hack
        uses: taiki-e/install-action@cfdb446e391c69574ebc316dfb7d7849ec12b940 # v2.68.8
        with:
          tool: cargo-hack
      - name: Check each crate with and without default features
        run: cargo hack check --workspace --each-feature --no-dev-deps
