name: Spelling
on:
  merge_group:
  pull_request:
  push:
    branches: main

# Cancel previous runs of this workflow when a new commit is added to the PR, branch or tag
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  codespell:
    name: Check spelling
    runs-on: github-hosted-small
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: crate-ci/typos@30eea72e385d435c00a24eeba0d96f87048f42ec # master
